@theme: #264c5d;

@import 'onoffcanvas.less';
@import 'panel-accordion.less';
@import 'cart.less';
@import 'onoffcanvas-tab.less';
@import 'leaders.less';
@import 'search-items.less';
@import 'employee-giving.less';
@import 'btnCustom.less';

#addToCartModal .modal-body button:not(:last-child){
  @media (min-width: 992px) {
    margin-right: 30px;
  }
}
#addToCartModal .modal-body button {
  @media (min-width: 992px) {
    width: 80px;
  }

}
