.cart
  .cart-title
    span.fa.fa-shopping-cart
    | &nbsp; Today's donations
  .cart-items
    .media
      .media-left
        span.fa.fa-pencil-square-o.fa-color-success(data-toggle="modal" data-target="#addToCartModal2")
      .media-body
        ul.leaders
          li
            span Abused Deaf Women's Advocacy Services
            span $200.00
          li.description General donation
    .media
      .media-left
        span.fa.fa-pencil-square-o.fa-color-success(data-toggle="modal" data-target="#addToCartModal2")
      .media-body
        ul.leaders
          li
            span American Red Cross Serving King County
            span $50.00
          li.description March flood relief drive
    .media
      .media-left
        span.fa.fa-pencil-square-o.fa-color-success(data-toggle="modal" data-target="#addToCartModal2")
      .media-body
        ul.leaders
          li
            span American Red Cross Serving King County
            span $25.00
          li.description General donation
  .cart-totals
    ul.leaders
      li
        span Subtotal
        span $275.00
      li
        span Fee
        span $5.00
      br
      li
        span Total
        span $280.00
  button.btn.btn-success.btn-block Proceed to checkout
  include payrollDonationList



