.cart
  .cart-title
    span.fa.fa-shopping-basket
    | &nbsp; Today's donations
  .cart-items
    ul.leaders
      li
        span Abused Deaf Women's Advocacy Services
        span $200.00
      li.description General donation
      li
        span American Red Cross Serving King County
        span $50.00
      li.description March flood relief drive
      li
        span American Red Cross Serving King County
        span $25.00
      li.description General donation
  .cart-totals
    ul.leaders
      li
        span Subtotal
        span $275.00
      li
        span Service charge
        span $5.00
      br
      li
        span Total
        span $280.00
  button.btn.btn-success.btn-block Review/edit donations
