#eventsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='eventsModalLabel')
  .modal-dialog.modal-lg(role='document' )
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        |         
        h4#eventsModalLabel.modal-title Veterans relief fund
      |       
      .modal-body
        img.pull-right.p-l-md.p-b-md(src="https://unsplash.it/400/250/")
        p Lorizzle ipsum dolizzle sizzle bow wow wow, consectetuer adipiscing elit. Check out this that's the shizzle velizzle, things volutpizzle, suscipit quizzle, gravida vizzle, arcu. Break it down crazy tortor. Sizzle erizzle. Shiz at bow wow wow dapibizzle yo mamma tempus phat. Nizzle daahng dawg nibh et turpizzle. Mah nizzle izzle tortizzle. Pellentesque shizzlin dizzle rhoncus nisi. Shizzle my nizzle crocodizzle hac habitasse platea dictumst. Donec dapibizzle. Curabitur tellus izzle, pretizzle my shizz, mattis you son of a bizzle, mofo hizzle, nunc. Hizzle suscipizzle. Fo semper velit sed the bizzle.
        p Etizzle fizzle pizzle sure augue pimpin' accumsan. Shiznit izzle gangster. Own yo' away dolor, gizzle vitae, facilisis crackalackin, the bizzle break it down, bow wow wow. Vestibulizzle ante ipsizzle pizzle bow wow wow sizzle i'm in the shizzle luctizzle izzle ultricizzle posuere crazy Curae; Donec dolizzle. Integer faucibus. Maecenas pharetra that's the shizzle quizzle. Vivamizzle rutrizzle doggy orci. Sed facilisis. Maurizzle sem brizzle, venenatizzle eu, nizzle vel, blandit fizzle, magna.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
