extends includes/base
block whichtheme
  - var theme = 'corporate'
block isfullwidth
  - var colSize = 'col-md-12'
block breadcrumb
  include includes/breadcrumb
block custom-style
  if production
    link(href="/css/custom.css" rel='stylesheet' type='text/css')
  else
    link(href="/styles/css/custom.css" rel='stylesheet' type='text/css')
block main-content
  .row.addon-row.addon-row-attached
    .col-sm-12
      .page-header
        h1 Find a non-profit
    include offcanvas-cart
  .row.addon-row.addon-row-attached
    .col-sm-12.col-md-8
      p.h5 CURRENT FUNDRAISING EVENTS
      .row
        .employee-giving-events
          .col-sm-6.col-xs-12
            p.employee-giving-event.active 
              | General givings
              a(href="#" data-toggle="modal" data-target="#eventsModal")
                span.fa.fa-info-circle.pull-right
          .col-sm-6.col-xs-12
            p.employee-giving-event 
              |  Northwest Harvest food drive
              a(href="#" data-toggle="modal" data-target="#eventsModal")
                span.fa.fa-info-circle.pull-right
          .col-sm-6.col-xs-12
            p.employee-giving-event
              | Veterans relief drive
              a(href="#" data-toggle="modal" data-target="#eventsModal")
                span.fa.fa-info-circle.pull-right
          .col-sm-6.col-xs-12
            p.employee-giving-event
              | Bob Smith retirement party
              a(href="#" data-toggle="modal" data-target="#eventsModal")
                span.fa.fa-info-circle.pull-right
        include eventsModal
      .row
        .col-sm-12
          .thumbnail.employee-giving-search
            img(src="https://unsplash.it/750/116/?blur")
            .caption
              h2#employee-donation-panel-title 
                span 
                  | General donations&nbsp;
                  span.fa.fa-question-circle.fa-color-primary( data-toggle="modal" data-target="#eventsModal")
              p 
                a(href="#" data-toggle="modal" data-target="#paymentTypesModal") What are my payment options?
              include paymentsModal
              include searchInput
              .dropdown
                button.btn.btn-link.dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                  strong
                    | Category&nbsp;
                    span.fa.fa-chevron-down
                ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                  li
                    a(href="#") Category 1
                  li
                    a(href="#") Category 2
                  li
                    a(href="#") Category 3
                  li
                    a(href="#") Category 4
                  li
                    a(href="#") Category 5
              .dropdown
                button.btn.btn-link.dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                  strong
                    | Agency status&nbsp;
                    span.fa.fa-chevron-down
                ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                  li
                    a(href="#") Status 1
                  li
                    a(href="#") Status 2
                  li
                    a(href="#") Status 3
                  li
                    a(href="#") Status 4
                  li
                    a(href="#") Status 5
          .employee-giving-pagination
            include pagination
          .employee-giving-search-results-panels
            - var name = 'Abused Deaf Women\'s Advocacy Services';
            - var id = '9615';
            - var description = 'Women, Housing & Employment Mental Health, Disablities & Substance abuse';
            - var added = false;
            include panels
            - var name = 'Advocates for Success in Africa';
            - var id = '9713';
            - var description = 'Children & youth, International relief & development, Education & literacy';
            - var added = true;
            include panels
            - var name = 'African Wildlife Foundation';
            - var id = '2506';
            - var description = 'Environment Animals';
            - var added = false;
            include panels
          .employee-giving-pagination
            include pagination
    .col-md-4.visible-md-block.visible-lg-block
      include cart
    include addToCartModal2
block custom-js
  if production
    script(src="/js/custom.js")
  else
    script(src="/js/custom.compiled.js")
