nav.pull-right(aria-label="Page navigation")
  ul.pagination
    li
      a(href="#")
        span.fa.fa-angle-double-left(aria-hidden="true")
    li
      a(href="#" aria-label="Previous") Previous
    li
      a(href="#" aria-label="Next") Next
p Showing 1-75 of 537