.panel-group(id="non-profit-panel-"+id role="tablist" aria-multiselectable="true")
  .panel.panel-accordion-primary-dark.fade-in
    .panel-heading(role="tab")
      h4.panel-title
        a(data-toggle="collapse" data-parent="#non-profit-panel-"+id href="#non-profit-" + id class="collapsed" aria-expanded="false" aria-controls="collapseOnePrimary")
          p 
            if added
              span.fa.fa-gift
              | &nbsp;
              span.fa.fa-shopping-cart 
              | &nbsp;
            | #{name} (#{id})
            .fa.fa-plus.pull-right
          p
            em #{description}
    div(id="non-profit-"+id class='panel-collapse collapse' role="tabpanel")
      .panel-body
        .row
          .col-sm-12
            p The ACLU has been at the center of nearly every civil rights battle for the past 90 years, advancing liberty and justice for all.
            p
              strong Website:&nbsp;
              a(href="#") http://www.aclu-wa.org&nbsp;
                span.fa-external-link.fa
            p
              strong Other resources:&nbsp;
              a(href="#") Washington Secretary of State Charities program&nbsp;
                span.fa-external-link.fa
              | ,&nbsp;
              a(href="#") Charity Navigator&nbsp;
                span.fa-external-link.fa
              | ,&nbsp;
              a(href="#") Guidestar Information&nbsp;
                span.fa-external-link.fa
            br
            p Tax ID number: 23-70768867
            .pull-right
              if added 
                button.btn.btn-primary(disabled)
                  | Added&nbsp;
                  span.fa.fa-gift
                span &nbsp;&nbsp;
                button.btn.btn-default(disabled) 
                  | Added&nbsp;
                  .fa.fa-shopping-cart
              else
                button.btn.btn-primary 
                  | Payroll donation list&nbsp;
                  span.fa.fa-gift
                span &nbsp;&nbsp;
                button.btn.btn-success(type="button" data-toggle="modal" data-target="#addToCartModal")
                  | Add to cart &nbsp;
                  span.fa.fa-shopping-cart
            p 
              a(href="#" data-toggle="modal" data-target="#getLinkModal") Get link
  include addToCartModal
  include getLinkModal