#paymentTypesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='paymentTypesModalLabel')
  .modal-dialog.modal-lg(role='document' )
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        |         
        h4#paymentTypesModalLabel.modal-title What are my payment options?
      |       
      .modal-body
        h4 Make a donation now using a credit card or check
        |         
        p
          | Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.        
        h4 Make a donation through your next paycheck
        |     
        p
          | Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        |         
        h4 Set up regular donations in Peoplesoft
        p 
          | Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      |       
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
