.employee-giving-donation-list
  .cart-title
    span.fa.fa-gift
    | &nbsp; Payroll donation list
  .cart-items
    .media
      .media-left
        span.fa.fa-times-circle.fa-color-danger
      .media-body
        ul.list-unstyled
          li
            strong Angel Flight West
          li.description Employee giving ID# 5615
    .media
      .media-left
        span.fa.fa-times-circle.fa-color-danger
      .media-body
        ul.list-unstyled
          li
            strong American Red Cross Serving King County
          li.description Employee giving ID# 5678
    .media
      .media-left
        span.fa.fa-times-circle.fa-color-danger
      .media-body
        ul.list-unstyled
          li
            strong Sierra Club Foundation
          li.description Employee giving ID# 9012
  p To set up your payroll deductions you will need to print or write down the Employee Giving numbers, then log into Peoplesoft.
  p
    a(href="#")
      | How do I donate through Peoplesoft&nbsp;
      span.fa.fa-question-circle
  br
  button.btn.btn-default.btn-block Print list