label(for="searchInput") Non-profit ID name or ID number
.input-group
  input.form-control(type="text" id="searchInput" name="searchInput")
  span.input-group-btn
    button.btn.btn-primary
      span.hidden-xs Update&nbsp;
      .fa.fa-search(aria-hidden="true")
      span.sr-only Non-profit ID name or ID number