label(for="searchInput") Search for non-profits
.input-group
  input.form-control(type="text" id="searchInput" name="searchInput" placeholder="Type name or ID number")
  span.input-group-btn
    button.btn.btn-primary
      span.hidden-xs Search&nbsp;
      .fa.fa-search(aria-hidden="true")
      span.sr-only Search non-profits